
  .background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh; /* Asegura que el contenedor cubra la altura de la ventana */
    width: 100vw; /* Asegura que el contenedor cubra el ancho de la ventana */
    background-image: url('https://i.pinimg.com/originals/b8/31/ca/b831caec63ca4e567d5e4c6c1de6c759.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
  }
  
  .form-container {
    width: 100%;
    max-width: 900px;
    overflow: hidden; /* Evita el desbordamiento del formulario */
  }
  
  .bg-sky-500 {
    background-color: #b5dceccc;
  }
  